[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
chaostoolkit = "*"
chaostoolkit-lib = "*"
requests = "*"

[dev-packages]
pylint = "*"
black = "*"
flake8 = "*"
pytest = "*"

[requires]
python_version = "3.11"
